<html>
<head>
    <link rel='stylesheet' href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% include 'AppBundle:Iframe:iframe.css.html.twig' %}
</head>

<body>
<select id="cb_cf_ports" class="hidden">
    <option>
        Select a Comm Port
    </option>
</select>

<div id="loadingDiv">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>

<div id="cb_cf" >
    <button id="cb_cf_flash_btn" class="btn btn-default" disabled>
        Run on Arduino
    </button>
    <p id="cb_cf_operation_output"></p>
</div>

<div class="hidden">
    <input type="text" id="hexFileUrl"></input>

    <input type="text" id="boardConfig"></input>

    <input type="text" id="boardBuild"></input>

    <input type="text" id="boardName"></input>

    <input type="text" id="buttonName"></input>

    <input type="text" id="programmerCommunication"></input>

    <input type="text" id="startInitialization" onChange="checkForInitialization()" val="false"></input>

    <input type="text" id="initCompiler" onChange="initCompiler()" val="false"></input>

    <textarea id="hexFileContents"></textarea>

</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="//codebender.cc/embed/compilerflasher.js"></script>
{% include 'AppBundle:Iframe:iframe.js.html.twig' %}
</body>
