{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Custom CSS -->
    {% include 'AppBundle:Security:css.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-lg-12">
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form id="login-form" action="{{ path('login') }}" method="post">
                            <fieldset>
                                <div id="legend">
                                    <legend class="">Login</legend>
                                </div>
                                <div class="form-group">
                                    <input placeholder="Username" class="form-control" type="text" id="username"
                                           name="_username" value="{{ last_username }}" pattern=".{6,}" required
                                           title="6 characters minimum"/>
                                </div>
                                <div class="form-group">
                                    <input placeholder="Password" class="form-control" type="password" id="password"
                                           name="_password" pattern=".{6,}" required title="6 characters minimum"/>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="_target_path" value="dashboard"/>
                                </div>
                                <div class="form-group">
                                    <button type="submit" name="login-submit" id="login-submit" tabindex="4"
                                            class="form-control btn btn-login">login
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
