{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Custom CSS -->
    {% include 'AppBundle:Landing:css.html.twig' %}
{% endblock %}

{% block body %}
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Neuralyzer</h1>
                        <h3>Firmware Distribution Made Easy</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
